<%= form_for [@user, @dog] do |f| %>
  <%= f.hidden_field :user_id %>

  <div class='field'>
    <%= f.label :name, class: 'label' %>
    <div class='control'>
      <%= f.text_field :name, class: 'input', placeholder: 'Name' %>
    </div>
  </div>

  <div class='field'>
    <%= f.label :breed, class: 'label' %>
    <div class='control'>
      <%= f.text_field :breed, class: 'input', placeholder: 'Breed' %>
    </div>
  </div>

  <div class='field'>
    <%= f.label :age, class: 'label' %>
    <div class='control'>
      <%= f.number_field :age, class: 'input', placeholder: 'Age' %>
    </div>
  </div>

  <div class='field'>
    <%= f.label :sex, class: 'label' %>
    <div class='control'>
      <%= f.text_field :sex, class: 'input', placeholder: 'Sex' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit submit_text, class: 'button is-info' %>
    </div>
  </div>
<% end %>