<%= render 'shared/flash' %>

<h1 class="title">User Details</h1>

<h4>
  <%= @user.first_name %> <%= @user.last_name %>
</h4>

<h4>
  Username: <%= @user.username %>
</h4>

<p>
  Email: <%= @user.email %>
</p>

