<%= provide(:title, 'Your Account') %>

<%= render 'shared/flash' %>

<h1 class="title">Welcome, <%= full_name @user %>!</h1>

<%= render partial: 'user_functions', locals: { user: current_user, path: current_path, headline: "Admin Function" } %>

<div class='columns col-height-all'>
  <div class='column is-one-third'>
    <article class='box'>
      <h4 class='title'><%= @user.first_name %> <%= @user.last_name %></h4>
      <%= image_tag('user_profile.jpg', alt: 'User Profile Image', class: 'is-pulled-right user-image') %>
      <p><strong>Username:</strong> <%= @user.username %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
    </article>
  </div>
  <div class='column is-one-third'>
    <% if @addresses.size > 0 %>
      <% @addresses.each do |address| %>
        <article class='box'>
          <h4 class='title is-5'>Address</h4>
          <p><strong>Street:</strong> <%= address.street_1 %></p>
          <% if address.street_2.present? %>
            <p><strong>Street:</strong> <%= address.street_2 %></p>
          <% end %>
          <p><strong>City:</strong> <%= address.city %></p>
          <p><strong>State:</strong> <%= address.state %></p>
          <p><strong>Zip Code:</strong> <%= address.zip_code %></p>
          <hr>
          <p><%= link_to 'Edit Address Details', edit_user_address_path(@user, address) %></p>
        </article>
      <% end %>
    <% else %>
      <article class="message is-danger">
        <div class="message-body">
          No addresses found...
        </div>
      </article>
    <% end %>
  </div>
  <div class="column is-one-third">
    <article class='box'>
      <h4 class="title is-5">Account Actions</h4>
      <p><%= link_to 'Edit Your User Account', edit_user_path(@user) %></p>
      <% if @user.addresses.size > 0 %>
        <p><%= link_to 'Edit Address Details', edit_user_address_path(@user, @user.addresses.first) %></p>
      <% else %>
        <p><%= link_to 'Add a New Address', new_user_address_path(@user) %></p>        
      <% end %>
      <p><%= link_to 'Add a New Dog', new_user_dog_path(@user) %></p>
      <% if current_user.dogs.size > 0 %>
        <p><%= link_to 'Add a New Reservation', new_user_reservation_path(@user) %></p>
      <% end %>
      <p><%= link_to 'View the Most Popular Activity', activities_top_path %></p>
    </article>
  </div>
</div>

<div class='columns'>
  <div class='column is-half'>
    <h4 class="title is-4">Dogs</h4>
    <% if @dogs.size > 0 %>
      <% @dogs.each do |dog| %>
        <article class='box'>
          <h4 class='title is-5'><%= link_to dog.name, user_dog_path(@user, dog) %></h4>
          <%= image_tag('dog_profile.jpg', alt: 'Dog Profile Image', class: 'is-pulled-right user-dog-image') %>
          <p><strong>Name:</strong> <%= dog.breed %></p>
          <p><strong>Age:</strong> <%= years_old dog %></p>
          <p><strong>Sex:</strong> <%= dog.sex %></p>
          <p><strong>Number of Reservations:</strong> <%= dog.reservations.size %></p>
          <hr>
          <p><%= link_to 'Edit Dog Details', edit_user_dog_path(@user, dog) %></p>
          <p><%= link_to 'Remove this Dog', dog, method: :delete, data: { confirm: "Are you sure?" } %></p>
        </article>
      <% end %>
    <% else %>
      <article class="message is-danger">
        <div class="message-body">
          No dogs found...
        </div>
      </article>
    <% end %>
  </div>

  <div class='column is-half'>
    <h4 class="title is-4">Reservations</h4>
    <% if @reservations.size > 0 %>
      <% @reservations.each_with_index do |reservation, index| %>
        <article class='box'>
          <h4 class='title is-5'><%= link_to "Reservation # #{index + 1}", user_reservation_path(@user, reservation) %></h4>
          <p><strong>Date:</strong> <%= format_date reservation.date %></p>
          <p><strong>Drop Off Time:</strong> <%= format_time reservation.drop_off_time %></p>
          <p><strong>Pick Up Time:</strong> <%= format_time reservation.pick_up_time %></p>
          <% if reservation.reservation_activities.size > 0 %>
            <hr>
            <h4 class="title is-5">Activities selected for this reservation</h4>
            <% reservation.reservation_activities.each_with_index do |reservation_activity, index| %>
              <h5 class="title is-5">Activity # <%= "#{index + 1}" %></h5>
              <p><strong>Activity Name:</strong> <%= reservation_activity.activity.name %></p>
              <p><strong>Activity Duration:</strong> <%= reservation_activity.duration %></p>
              <hr>
            <% end %>
          <% else %>
            <div class="message is-danger">
              <div class="message-body">
                No Activities have been selected
              </div>
            </div>
            <hr> 
          <% end %>
          <p><%= link_to 'Edit Reservation Details', edit_user_reservation_path(@user, reservation) %></p>
          <p><%= link_to 'Remove this Reservation', reservation, method: :delete, data: { confirm: "Are you sure?" } %></p>
        </article>
      <% end %>
    <% else %>
      <article class="message is-danger">
        <div class="message-body">
          No reservations found...
        </div>
      </article>
    <% end %>
  </div>
</div>
