<%= render 'shared/flash' %>

<h1 class="title">User Details</h1>

<div class='columns'>
  <div class='column'>
    <article class='box'>
      <h4 class='title'><%= @user.first_name %> <%= @user.last_name %></h4>
      <p><strong>Username:</strong> <%= @user.username %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
    </article>
  </div>
  <div class="column is-one-third">
    <article class='box'>
      <%= link_to 'Add a New Dog', new_user_dog_path(@user) %>
    </article>
  </div>
</div>
<div class='columns'>
  <div class='column'>
    <% @addresses.each do |address| %>
      <article class='box'>
        <h4 class='title'>Address</h4>
        <p><strong>Street:</strong> <%= address.street_1 %></p>
        <% if address.street_2.present? %>
          <p><strong>Street:</strong> <%= address.street_2 %></p>
        <% end %>
        <p><strong>City:</strong> <%= address.city %></p>
        <p><strong>State:</strong> <%= address.state %></p>
        <p><strong>Zip Code:</strong> <%= address.zip_code %></p>
        <hr>
        <p><%= link_to 'Edit Address Details', edit_user_address_path(@user, address) %></p>
      </article>
    <% end %>
  </div>
</div>
<div class='columns'>
  <% @dogs.each do |dog| %>
    <div class='column'>
      <article class='box'>
        <h4 class='title'><%= dog.name %></h4>
        <p><strong>Name:</strong> <%= dog.breed %></p>
        <p><strong>Name:</strong> <%= dog.age %></p>
        <p><strong>Name:</strong> <%= dog.sex %></p>
        <hr>
        <p><%= link_to 'Edit Dog Details', edit_user_dog_path(@user, dog) %></p>
        <p><%= link_to 'Remove this Dog', dog, method: :delete, data: { confirm: "Are you sure?" } %></p>
      </article>
    </div>
  <% end %>
</div>





