<%= render 'shared/flash' %>

<h1 class="title">User Details</h1>

<%= render partial: 'user_type' %>

<%= render partial: 'user_functions', locals: { user: current_user, path: current_path } %>

<div class='columns'>
  <div class='column'>
    <article class='box'>
      <h4 class='title'><%= @user.first_name %> <%= @user.last_name %></h4>
      <p><strong>Username:</strong> <%= @user.username %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
    </article>
  </div>
  <div class="column is-one-third">
    <article class='box'>
      <p><%= link_to 'Add a New Dog', new_user_dog_path(@user) %></p>
      <p><%= link_to 'Add a New Reservation', new_user_reservation_path(@user) %></p>
      <p><%= link_to 'View the Most Popular Activity', activities_top_path %></p>
    </article>
  </div>
</div>
<div class='columns'>
  <div class='column'>
    <% @addresses.each do |address| %>
      <article class='box'>
        <h4 class='title'>Address</h4>
        <p><strong>Street:</strong> <%= address.street_1 %></p>
        <% if address.street_2.present? %>
          <p><strong>Street:</strong> <%= address.street_2 %></p>
        <% end %>
        <p><strong>City:</strong> <%= address.city %></p>
        <p><strong>State:</strong> <%= address.state %></p>
        <p><strong>Zip Code:</strong> <%= address.zip_code %></p>
        <hr>
        <p><%= link_to 'Edit Address Details', edit_user_address_path(@user, address) %></p>
      </article>
    <% end %>
  </div>
</div>
<div class='columns'>
  <% @dogs.each do |dog| %>
    <div class='column'>
      <article class='box'>
        <h4 class='title'><%= link_to dog.name, user_dog_path(@user, dog) %></h4>
        <p><strong>Name:</strong> <%= dog.breed %></p>
        <p><strong>Name:</strong> <%= years_old dog %></p>
        <p><strong>Name:</strong> <%= dog.sex %></p>
        <hr>
        <p><%= link_to 'Edit Dog Details', edit_user_dog_path(@user, dog) %></p>
        <p><%= link_to 'Remove this Dog', dog, method: :delete, data: { confirm: "Are you sure?" } %></p>
      </article>
    </div>
  <% end %>
</div>
<div class='columns'>
  <% if @reservations.size > 0 %>
    <% @reservations.each_with_index do |reservation, index| %>
      <div class='column'>
        <article class='box'>
          <h4 class='title'><%= link_to "Reservation # #{index + 1}", user_reservation_path(@user, reservation) %></h4>
          <p><strong>Date:</strong> <%= format_date reservation.date %></p>
          <p><strong>Drop Off Time:</strong> <%= format_time reservation.drop_off_time %></p>
          <p><strong>Pick Up Time:</strong> <%= format_time reservation.pick_up_time %></p>
          <% if reservation.reservation_activities.size > 0 %>
            <hr>
            <h4 class="title is-4">Activities Selected</h4>
            <% reservation.reservation_activities.each_with_index do |reservation_activity, index| %>
              <h5 class="title is-5">Activity # <%= "#{index + 1}" %></h5>
              <p><strong>Activity Name:</strong> <%= reservation_activity.activity.name %></p>
              <p><strong>Activity Duration:</strong> <%= reservation_activity.duration %></p>
              <hr>
            <% end %>
          <% else %>
            <div class="message is-danger">
              <div class="message-body">
                No Activities have been selected
              </div>
            </div>
            <hr> 
          <% end %>
          <p><%= link_to 'Edit Reservation Details', edit_user_reservation_path(@user, reservation) %></p>
          <p><%= link_to 'Remove this Reservation', reservation, method: :delete, data: { confirm: "Are you sure?" } %></p>
        </article>
      </div>
    <% end %>
  <% else %>
    <div class="column">
      <article class="message is-danger">
        <div class="message-body">
          No reservations found...
        </div>
      </article>
    </div>
  <% end %>
</div>
