<%= render 'shared/flash' %>

<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <h1 class="title">All Activities</h1>
    </div>
  </div>
</nav>

<nav class="level">
  <div class="level-left">
    <div class="level-item">
      &nbsp;
    </div>
  </div>

  <!-- Left side -->
  <%= form_tag("/activities", method: "get") do %>
    <div class="level-right">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">&nbsp;</p>
          <p class="title is-5">Filter Options:</p>
        </div>
      </div>

      <div class="level-item">
        <div>
          <p class="heading">Best for Size</p>
          <div class="select">
            <%= select_tag "best_for_size", options_for_select(Activity.uniq_values("best_for_size"), params["best_for_size"]), include_blank: 'any' %>
          </div>
        </div>
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="heading">&nbsp;</p>
          <p class="title is-5">+</p>
        </div>
      </div>

      <div class="level-item">
        <div>
          <p class="heading">Best for Type</p>
          <div class="select">
            <%= select_tag "best_for_type", options_for_select(Activity.uniq_values("best_for_type"), params["best_for_type"]), include_blank: 'any' %>
          </div>
        </div>
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="heading">&nbsp;</p>
          <p class="title is-5">+</p>
        </div>
      </div>

      <div class="level-item">
        <div>
          <p class="heading">Energy Usage</p>
          <div class="select">
            <%= select_tag "energy_usage", options_for_select(Activity.uniq_values("energy_usage"), params["energy_usage"]), include_blank: 'any' %>
          </div>
        </div>
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="heading">&nbsp;</p>
          <p class="level-item">
            <%= submit_tag "Apply Filter", class: 'button is-success' %>
          </p>          
        </div>
      </div>

      <div class="level-item has-text-centered">
        <div>
          <p class="heading">&nbsp;</p>
          <p class="level-item">
            <%= link_to 'Reset Filters', activities_path, class: 'button is-success' %>
          </p>          
        </div>
      </div>
    </div>
  <% end %>
</nav>

<hr>

<%= render partial: 'users/user_type' %>

<%= render partial: 'users/user_functions', locals: { user: current_user, path: current_path } %>

<div class="columns is-multiline wrapping">
  <% @activities.each do |activity| %>
    <div class="column is-one-third">
      <div class="box">
        <p class="title is-4">
          <% if @location %>
            <%= link_to activity.name, location_activity_path(@location, activity) %>
          <% else %>
            <%= link_to activity.name, activity_path(activity) %>
          <% end %>
        </p>
        <p><strong>Description:</strong> <%= activity.description %></p>
        <p><strong>Best for Size:</strong> <%= activity.best_for_size %></p>
        <p><strong>Best for Type:</strong> <%= activity.best_for_type %></p>
        <p><strong>Energy Usage:</strong> <%= activity.energy_usage %></p>
        <p><strong>Custom:</strong> <%= activity.custom %></p>
      </div>
    </div>
  <% end %>
</div>