<%= render 'shared/flash' %>

<h1 class="title">All Locations</h1>

<div class="columns is-multiline wrapping">
  <% @locations.each do |location| %>
    <div class="column is-one-third">
      <div class="box">
        <p class="title is-4"><%= link_to location.name, location_path(location) %></p>
        <p><strong>City:</strong> <%= location.city %></p>
        <p><strong>Capacity:</strong> <%= location.capacity %></p>
        <p><strong>Size:</strong> <%= location.size %></p>
        <p><strong>Opened in:</strong> <%= location.open_year %></p>
        <hr>
        <p class="title is-6">Activities available at <%= location.name %></p>
          <% location.activities.each do |activity| %>
            <p><%= link_to activity.name, location_activity_path(location, activity) %></p>
          <% end %>
        </article>
      </div>
    </div>
  <% end %>
</div>