<!DOCTYPE html>
<html>
  <head>
    <title><%= full_page_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= root_path %>">
          <%= image_tag('dog-daycare-placeholder.png', size: '28x28', alt: 'Dog Daycare Home') %>
        </a>

        <div class="navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <%= link_to 'Home', root_path, class: "navbar-item #{'is-active' if current_path.nil?}" %>
          <%= link_to 'About', root_path, class: "navbar-item #{'is-active' if current_path == 'about'}" %>
          <%= link_to 'Locations', root_path, class: "navbar-item #{'is-active' if current_path == 'locations'}" %>
          <%= link_to 'Activities', root_path, class: "navbar-item #{'is-active' if current_path == 'activities'}" %>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <!-- to do -->
          </div>
        </div>
      </div>
    </nav>


    <div class="section">
      <div class="container">
        <%= yield %>
      </div>
    </div>



  </body>
</html>
