<!DOCTYPE html>
<html>
  <head>
    <title><%= full_page_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= root_path %>">
          <%= render partial: 'shared/logo_image', locals: { img_src: "dog-daycare-logo-3.png", dimension: 28 } %>
        </a>

        <div class="navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <%#= link_to 'Home', root_path, class: "navbar-item #{'is-active' if current_path.nil?}" %>
          <%= link_to 'About', about_path, class: "navbar-item #{'is-active' if current_path == 'about'}" %>
          <%= link_to 'Locations', locations_path, class: "navbar-item #{'is-active' if current_path == 'locations'}" %>
          <%= link_to 'Activities', activities_path, class: "navbar-item #{'is-active' if current_path == 'activities'}" %>
          <% if current_user %>
            <%= link_to 'Your Profile', user_path(current_user.id), class: "navbar-item #{'is-active' if current_path == 'users' }" %>
          <% end %>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <% if current_user %>
                <p class="control">
                  <%= link_to "Log Out", signout_path, method: :delete, class: 'button is-info' %>
                </p>
              <% else %>
                <p class="control">
                  <a href="<%= new_user_path %>" class="button is-info">
                    <span>Sign Up</span>
                  </a>
                </p>
                <p class="control">
                  <a href="<%= signin_path %>" class="button is-info">
                    <span>Sign In</span>
                  </a>
                </p>              
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <% if current_path.nil? %>
      <section class="hero is-primary is-medium has-bg-img">
        <div class="hero-body">
          <div class="container">
            <%= yield %>
          </div>
        </div>
      </section>
      <section id="wrapper" class="hero is-medium is-light is-bold">
        <div class="hero-body top-collapse">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-three-quarters is-narrow homepage-headline">
                <h4 class="title is-4 has-text-centered">Services & Features</h4>
                <p class="has-text-centered"><em>We're at your service - giving you peace of mind and your dog lots of fun</em></p>
              </div>
            </div>
            <div class="columns">
              <div class="column is-half">
                <div class="columns">
                  <div class="column"></div>
                  <div class="column">
                    <figure class="image home-img">
                      <%= image_tag("home-img.jpg", alt: 'Dog Daycare Information') %>
                    </figure>
                  </div>
                  <div class="column"></div>
                </div>
              </div>
              <div class="column is-half">
                <div class="content">
                  <h4 class="title is-4">The Dog Daycare Concept</h4>
                  <p class="spacer">We want you to have peace of mind when you leave your dog with us.</p>
                  <p class="spacer">Our services include:</p>
                  <ul>
                    <li>A flexible reservation system focused on your needs</li>
                    <li>Several locatoins around the region</li>
                    <li>A range of activities to choose for your dog</li>
                    <li>The ability to request custom activities to fit your needs</li>
                    <li>We can handle between 1 and 3 dogs per owner</li>
                  </ul>
                  <p><%= link_to 'Read more', about_path, class: 'has-text-link' %> about the Dog Daycare story and philosophy.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <% else %>
      <section id="wrapper" class="section">
        <div class="container">
          <%= yield %>
        </div>
      </section>
    <% end %>

    <section class="hero is-primary is-footer">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <p><strong>Dog Daycare</strong></p>
              <div class="spacer">
                <%= render partial: 'shared/logo_image', locals: { img_src: "dog-daycare-placeholder.png", dimension: 56 } %>
              </div>
              <p>Your dog is our priority</p>
            </div>
            <div class="column is-one-fifth">
              &nbsp;
            </div>
            <div class="column">
              <p><strong>Designed by</strong></p>
              <p>Robert Laws, 2018</p>
              <div class="spacer">
                <a href="www.robdlaws.com" title="personal website"><%= fa_icon "home" %></a>
                <a href="www.twitter.com" title="Twitter"><%= fa_icon "twitter" %></a>
                <a href="www.github.com" title="Github"><%= fa_icon "github" %></a>
                <a href="www.facebook.com" title="Facebook"><%= fa_icon "facebook" %></a>
              </div>
            </div>
            <div class="column is-one-fifth">
              &nbsp;
            </div>
            <div class="column">
              <p><strong>Contact</strong></p>
              <p>Robert Laws</p>
              <div class="spacer">
                <span><a href="mailto:roblaws@me.com"><%= fa_icon "envelope-open" %> roblaws@me.com</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
